.container
  %h3 Contract no #{@contract.number}

  %h4 Sign date: #{@contract.date}
  %h4 Employer: #{@contract.employer_name}
  %h4 Employee: #{@contract.employee_name}
  %h4 Gross amount: #{@contract.gross_amount}
  %h4 Cost rate: #{@contract.cost_rate * 100} %

  =link_to "Edit", edit_contract_path(@contract), class: "btn btn-default"
  =link_to "Generate bill", generate_bill_path(id: @contract.id, format: :pdf), class: "btn btn-danger"

